html {
    min-height: 3em;
    min-width: 10em;
  }
div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: 5em;
}
div:hover {
    background-color: rgba(211, 211, 211, 0.5);
    cursor: pointer;
}
div:active {
    background-color: lightgray;
    cursor: pointer;
}